{% extends 'layout.twig' %}

{% block content %}
    <h2>Importar Areas y Subareas</h2>
    <a href="{{ 'admin/area' | url }}">Atras</a>
    <div class="container-register">                              
        <form class="group-content-register" action="" method="post" enctype="multipart/form-data">
            <div class="wrap-register">
                <label for="title"><b>Lista de Areas y Subareas<strong class="check">*</strong></b></label>
                <input type="file" accept=".csv" name="listaAreasSubareas" id="listaAreasSubareas"><br>
                <input type="submit" value="ImportarAreas">
                
            </div>
        </form>
    </div>
{% endblock %}