{% extends 'layout.twig' %}

{% block content %}
    <h4>Panel de administrador</h4>
        <ul> 
            <li>
            <a href="{{'admin/area' | url }}">Administrar áreas</a>
            </li>
            <li>
            <a href="{{'admin/subarea' | url }}">Administrar sub áreas</a>
            </li>
            <li>
            <a href="{{'admin/teachers' | url }}">Administrar Docentes</a>
            </li>
            <li>
            <a href="{{'admin/projects' | url }}">Administrar Proyectos</a>
            </li>
        </ul>
{% endblock %}


