{% extends 'layout.twig' %}

{% block content %}
    <h2>Nueva area</h2>
    <a href="{{ 'admin/area/' | url }}">Atras</a>
    <div class="container-register">                              
        <form class="group-content-register" action="" method="post">
            <div class="wrap-register">
                <h1 class="center-text">Registro de Area.</h1>
                <hr>
                <label for="email"><b>Nombre de área <strong class="check">*</strong></b></label>
                <input type="text" placeholder="Ingrese area" name="nombarea" id="nombarea">
                
                <label for="email"><b>Descripción del área <strong class="check">*</strong></b></label>
                <textarea class="form-control" name="descarea" id="descarea" rows="5"></textarea>
                <input type="submit" value="Guardar">
                
            </div>
        </form>
    </div> 
{% endblock %}