<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block namepage %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Oleo Script" rel="stylesheet">
    {% block csslink %}{% endblock %}
</head>
<body>
    <div class="main">
        <div id="page-wrapper">
            <header id="header">
                <h1>{% block title %}{% endblock %}</h1>
                {% block menu %}{% endblock %}
            </header>
            <header class="config">
                <p>{% block configpersonal %}{% endblock %}</p>
            </header>
                {% block content %}{% endblock %}
                
            <footer id="footer">
                <ul class="copyright">
                   <li>Universidad Mayor de San Simón 2018</li>
            </footer>
        </div>
        {% block jslink %}{% endblock %}
    </div>
</body>
</html>