{% extends 'layout.twig' %}

{% block content %}
    <h5>Bienvenido director</h5>
    <h1> {{ account.name}} </h1>
    <a href="{{'logout' | url }}">Salir</a>


    <h3>Panel de director</h3>
    
{% endblock %}