{% extends 'layout.twig' %}

{% block content %}
    <div class="container-register">                              
        <form class="group-content-register" action="" method="post">
            <div class="wrap-register">
                <h1 class="center-text">Registro de estudiantes.</h1>
                
                <label for="email"><b>Código SIS <strong class="check">*</strong></b></label>
                <input type="text" placeholder="Ingrese su Cod SIS" name="codsis" id="codsis" >

                 <label for="email"><b>CI <strong class="check">*</strong></b></label>
                <input type="text" placeholder="Ingrese su CI" name="ci" id="ci" >

                <label for="email"><b>Nombres <strong class="check">*</strong></b></label>
                <input type="text" placeholder="Ingrese su(s) nombre(s)" name="nombre" id="nombre" >

                <label for="email"><b>Apellido paterno <strong class="check">*</strong></b></label>
                <input type="text" placeholder="Ingrese su apellido paterno" name="apaterno" id="apaterno" >

                <label for="email"><b>Apellido materno<strong class="check">*</strong></b></label>
                <input type="text" placeholder="Ingrese su apellido materno" name="amaterno" id="amaterno" >
                
                <label for="email"><b>telefono <strong class="check">*</strong></b></label>
                <input type="text" placeholder="Ingrese su Cod SIS" name="telefono" id="telefono" >

                <label for="email"><b>Direccion <strong class="check">*</strong></b></label>
                <input type="text" placeholder="Ingrese su email" name="dir" id="dir" >

                <label for="email"><b>Usuario <strong class="check">*</strong></b></label>
                <input type="text" placeholder="Ingrese su nombre de usuario" name="usuario" id="usuario" >
                
                <label for="psw"><b>Contraseña <strong class="check">*</strong></b></label>
                <input type="password" placeholder="Ingrese su contraseña" name="pwd1" id="pwd1" >
        
                <label for="psw-repeat"><b>Confirme su Contraseña <strong class="check">*</strong></b></label>
                <input type="password" placeholder="Ingrese confirmacion de contraseña" name="pwd2"id="pwd2" >
                
                <label for="email"><b>Email <strong class="check">*</strong></b></label>
                <input type="text" placeholder="Ingrese su email" name="email" id="email" >
        
                <div class="clearfix-register">
                    <a class="createbtn" href="{{ 'student/' | url }}">Cancelar</a>
                    <input class="signupbtn" type="submit" value="Acceder">
                </div>
            </div>
        </form>
    </div> 
{% endblock %}
