{% if inforeg %}
    <div class="alert alert-info">
        Usted debe completar su registro!.  Para este paso debe hacer clic en el botón de configuración. 
    </div>
{% endif %}

{% if information %}
    <div class="alert alert-info">
        <li><b>Se registraron las siguientes observaciones:</b></li>
        {% for message in information %}
                <li> {{ message }}</li>
        {% endfor %}
    </div>
    </div>
{% endif %}
