{% if result %}
    <div class="alert alert-success">
        Agregado satisfactoriamente.
    </div>
{% endif %}

{% if sent %}
    <div class="alert alert-success">
        Su contraseña fue enviada a su correo. Revise en su bandeja de entrada.
    </div>
{% endif %}

