{% if duplicate %}
    <div class="alert alert-warning">
        El registro ya existe; verifique bien sus datos antes de ingresar.
    </div>
{% endif %}

{% if exists %}
    <div class"alert alert-warning">
        Éste nombre de usuario ya está tomado
    </div>
{% endif %}