{% if duplicate %}
    <div class="alert alert-warning">
        Ya existe un profesional con el CI {{ vprofile.ci }}; Verifique bien sus datos.
    </div>
{% endif %}

{% if exists %}
    <div class="alert alert-warning">
        Éste nombre de usuario ya está tomado
    </div>
{% endif %}


{% if prolonged %}
    <div class="alert alert-warning">
        Ya no es posible realizar esta operación; se agotó su periodo de ampliación.
    </div>
{% endif %}

{% if match %}
    <div class="alert alert-warning">
        Los datos no existen, ingrese datos correctos.
    </div>
{% endif %}

{% if matchEmail %}
    <div class="alert alert-warning">
        El correo es incorrecto.
    </div>
{% endif %}

{% if shotperiod %}
    <div class="alert alert-warning">
        Ya no es posible realizar esta operación. <strong>El periodo para cambio de tema o tutor ya se agotó</strong>
    </div>
{% endif %}

{% if rejected %}
    <div class="alert alert-warning">
        Estudiante no inscrito en Taller de Grado / Metodología y Planificación de Proyectos de Grado.
    </div>
{% endif %}

{% if repeatedci %}
    <div class="alert alert-warning">
        El CI: {{ user.ci }} ya está registrado en otra cuenta.
    </div>
{% endif %}


{% if duplicateArea %}
    <div class="alert alert-warning">
         Ya existe un área con el nombre de área introducido. No se puede guardar; el nombre de área debe ser único 
    </div>
{% endif %}
