{% if duplicate %}
    <div class="alert alert-warning">
        El registro ya existe; verifique bien sus datos antes de ingresar.
    </div>
{% endif %}

{% if exists %}
    <div class="alert alert-warning">
        Éste nombre de usuario ya está tomado
    </div>
{% endif %}


{% if prolonged %}
    <div class="alert alert-warning">
        Ya no es posible realizar esta operación; se agotó su periodo de ampliación.
    </div>
{% endif %}

{% if match %}
    <div class="alert alert-warning">
        Los datos no existen, ingrese datos correctos.
    </div>
{% endif %}

{% if matchEmail %}
    <div class="alert alert-warning">
        El correo es incorrecto.
    </div>
{% endif %}

{% if shotperiod %}
    <div class="alert alert-warning">
        Ya no es posible realizar esta operación. <strong>El periodo para cambio de tema o tutor ya se agotó</strong>
    </div>
{% endif %}